@use '../settings';

@mixin blog-main {
	.blog {
		@include settings.main-display;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&__post {
			background-color: settings.$color__main;
			box-sizing: border-box;
			border: 1px solid black;
			width: 60%;
			margin: 10px 0;
			padding: 5px;
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 25vh !important;
			color: settings.$color__text;

			&_title {
				padding: 5px 0;
				margin: 5px 0;
				font-family: settings.$text__title-font;
				font-size: 1.5rem;
				font-weight: 700;
			}
			&_content {
				padding: 5px 15px;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			&_footer {
				display: flex;
				flex-direction: row;
				align-items: center;
				&_label {
					font-weight: 500;
				}
				&_author {
					font-style: italic;
					padding: 0 5px;
				}
			}
		}

		&__pagination {
			display: flex;
			flex-direction: row;
		}
	}
}
