@use 'views/blog';
@use 'partials/header';
@use 'partials/loader';
@use 'views/page';
@use 'partials/user-form';
@use 'partials/button';
@use './settings';

.App {
	@include settings.background;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
	width: 100%;
	min-height: 100vh;
	box-sizing: border-box;
}

@include header.header;
@include blog.blog-main;
@include loader.loader;
@include page.page-main;
@include user-form.user-form;
@include button.button-partial;
