@use 'views/blog';
@use 'views/contact';
@use 'partials/navbar';
@use 'partials/loader';

.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	min-width: 100%;
	min-height: 100%;
	background-image: url('../assets/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

@include navbar.navbar-main;
@include blog.blog-main;
@include contact.contact-main;
@include loader.loader;
