@use 'views/blog';
@use 'partials/sidebar';
@use 'partials/loader';
@use 'views/page';
@use 'partials/user-form';
@use 'partials/button';

.App {
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
	width: 100%;
	min-height: 100vh;
	background-image: url('../assets/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
}

@include sidebar.sidebar;
@include blog.blog-main;
@include loader.loader;
@include page.page-main;
@include user-form.user-form;
@include button.button-partial;
