@use './settings';

@mixin sidebar {
	.sidebar {
		box-sizing: border-box;
		font-family: settings.$text__title-font;
		width: 30%;
		background-color: settings.$color__main;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 0 5px;
		height: 100vh;
		position: fixed;
		left: 0;
		top: 0;

		&__navbar {
			display: flex;
			flex-direction: column;
			align-items: center;
			&_link {
				text-decoration: none;
				color: settings.$color__text;
				font-size: 1.4rem;
				font-weight: 700;
				padding: 0 15px;
			}
			&_link:hover {
				color: settings.$color__text-hover;
				text-shadow: 2px 2px 2px white;
			}
		}
		&__user {
			&_login {
				padding: 5px;
				font-weight: 700;
				font-size: 1.2rem;
			}
		}
	}
}
