@use './settings';

@mixin header {
	.header {
		@include settings.header;
		box-sizing: border-box;
		font-family: settings.$text__title-font;
		background-color: settings.$color__main-alpha;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 20px 0;
		color: settings.$color__text;

		&__navbar {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;


			&_link {
				text-decoration: none;
				text-align: left;
				color: settings.$color__text;
				font-size: 1.5rem;
				font-weight: 500;
				padding: 10px 0;
				margin: 0 5px;
				justify-content: center;
			}
			&_link:hover {
				color: settings.$color__text-hover;
				text-shadow: 1px 1px 8px white;
			}
			&_link--home{
				font-size: 2rem;
				font-weight: 700;
			}
			&_link--home:hover{
				color: settings.$color__text;
				text-shadow: none;
			}
		}
		&__user {
			display: flex;
			flex-direction: row;
			background-color: settings.$color__main-indent;
			padding: 5px;
			margin-right: 10px;

			&_link {
				text-decoration: none;
				text-align: left;
				color: settings.$color__text;
				font-size: 1.5rem;
				font-weight: 700;
				padding: 10px 0;
				width: 70%;
			}
			&_box{
				height: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				padding: 0 5px;
				&_icon{
					padding: 0 5px;
				}
				&_username{
					padding: 0 5px;
				}
			}
		}
	}
}
